{{if data.error}}
<div class="block" style="margin:4px; padding:6px 8px; border-color:#ee0000">
	<div class="item">
		<div class="itemLabelWide" style="color:#ee0000"><b>Download Error</b></div>
		<div class="itemContentNarrow" style="text-align:right">{{:helper.link("Dismiss", "refresh", {'PRG_reseterror':1})}}</div>
	</div>
	<div class="item">
		<div class="itemLabelWidest" style="font-size:10px">{{:data.error}}</div>
	</div>
</div>
{{/if}}

<div class="block" style="margin:4px; padding:6px 8px">
	<div class="item">
		<div class="itemLabel" style="line-height:18px">Storage:</div>
		<div class="itemContent">
			{{:helper.displayBar(data.disk_used, 0, data.disk_size, 'good')}}
			<span style="font-size:10px; margin-left:4px">{{:data.disk_used}} / {{:data.disk_size}} GQ</span>
		</div>
	</div>
	{{if data.downloadname}}
	<div class="item">
		<div class="itemLabel" style="line-height:18px">Downloading:</div>
		<div class="itemContent">
			{{:helper.displayBar(data.downloadcompletion, 0, data.downloadsize, 'good')}}
			<span style="font-size:10px; margin-left:4px">{{:data.downloadname}} &mdash; {{:data.downloadcompletion}}/{{:data.downloadsize}} GQ &nbsp;@&nbsp;{{:data.downloadspeed}} GQ/s</span>
		</div>
	</div>
	{{/if}}
	{{if data.downloads_queue}}
	<div class="item">
		<div class="itemLabel" style="line-height:18px">Queue:</div>
		<div class="itemContent">
			{{for data.downloads_queue}}
			<div style="font-size:10px; line-height:180%">
				{{:index + 1}}. {{:value.name}}&nbsp;{{:helper.link("×", "close", {'PRG_removequeued':value.path})}}
			</div>
			{{/for}}
		</div>
	</div>
	{{/if}}
</div>

<div class="block" style="margin:4px; padding:6px 8px">
	<div class="item" style="margin-bottom:4px">
		<div style="float:left">
			{{:helper.link("Search", "search", {'PRG_searchdesign':1})}}
			{{if data.search_query}}
				<b style="color:#4f7529; margin:0 4px">{{:data.search_query}}</b>{{:helper.link("×", "close", {'PRG_clearsearch':1})}}
			{{/if}}
		</div>
		<div style="float:right">
			{{if !data.search_query}}{{:helper.link("Download All", 'arrowthickstop-1-s', {'PRG_downloadcategory':data.selected_category})}}&nbsp;&nbsp;{{/if}}{{:helper.link(data.show_desc_menu ? "Hide desc" : "Show desc", data.show_desc_menu ? 'triangle-1-n' : 'triangle-1-s', {'show_desc_menu':1})}}
		</div>
	</div>

	{{if !data.search_query}}
	<div class="item" style="margin-bottom:4px; padding-bottom:4px; border-bottom:1px solid #40628a">
		{{for data.all_categories}}
			{{:helper.link(value, null, {'select_category':value}, data.selected_category == value ? 'selected' : null)}}
		{{/for}}
	</div>
	{{/if}}

	{{if data.possible_designs}}
	<table style="width:100%; border-collapse:collapse; margin-top:2px">
		{{for data.possible_designs}}
		<tr class="candystripe" style="line-height:140%">
			<td style="padding:2px 6px 2px 4px">
				<b>{{:value.name}}</b>
				{{if data.show_desc_menu && value.desc}}
				<div style="color:#808080; font-size:10px; font-style:italic; font-weight:normal; margin-top:1px">{{:value.desc}}</div>
				{{/if}}
			</td>
			<td style="padding:2px 20px 2px 6px; text-align:right; white-space:nowrap; font-size:10px; color:#808080; width:1%">{{:value.size}}&nbsp;GQ</td>
			<td style="padding:2px 20px 2px 4px; text-align:right; white-space:nowrap; width:1%">{{:helper.link("&nbsp;&nbsp;", "arrowthickstop-1-s", {'PRG_downloadfile':value.build_path})}}</td>
		</tr>
		{{/for}}
	</table>
	{{else}}
	<div style="text-align:center; color:#666; font-style:italic; padding:16px 0">
		{{:data.search_query ? "No designs match your search." : "No designs in this category."}}
	</div>
	{{/if}}
</div>
