<style type="text/css">
	.link, .linkOn, .linkOff, .selected, .disabled, .yellowButton, .redButton {
		min-width: 70px;
		margin: 0px 2px 0px 0px;
	}
</style>

{{if data}}
	{{if data.disabled}}
		<div class='notice'><center><h2><span class="bad">Вайтлист на ксеносов отключен в конфигурации сервера.</span></h2></center></div><br>
	{{/if}}
	<div class='notice'><center><h3><span class="average">Режим: <b>config/alienwhitelist.txt</b><br>Применение изменений сохраняет файл и перезагружает вайтлист в память.</span></h3></center></div><br>
	<table style="width:100%", align="center">
	<tr>
		<th>
			{{:helper.link('<span class="bad">ПРИМЕНИТЬ ИЗМЕНЕНИЯ</span>', 'arrowstop-1-n', {'send': 1}, null, 'yellowButton')}}
		<th>
			{{:helper.link('Получить ВЛ | Сбросить изменения', 'refresh', {'refresh': 1}, null)}}
	<tr>
	</table>
	<br>
	<center>{{:data.searchbox}}</center>
	<hr>
	<table style="width:100%", align="center", border="1", rules="rows">
	<tr>
	{{if data.currentlist}}
		<th>
			{{:helper.link("Ckey", "search", {'sorting' : "ckey"}, data.sorting ? data.sorting == "ckey" ? 'selected' : null : null)}}
		{{for data.lowerallxenos :name_value:name_key}}
			<th>
				{{:helper.link(name_value, "search", {'sorting' : name_value}, data.sorting ? data.sorting == name_value ? 'selected' : null : null)}}
		{{/for}}
	{{/if}}
	{{for data.currentlist}}
		<tr>
		<th>
			{{:value.ckey}}
		{{for data.lowerallxenos :name_value:name_key}}
			<td>
			{{for value.YES :xenos_value:xenos_key}}
				{{if xenos_value == name_value}}
					{{:helper.link(name_value, "check", {'ckey' : value.ckey, 'race' : name_value}, null, 'selected')}}
				{{/if}}
			{{/for}}
			{{for value.NO :xenos_value:xenos_key}}
				{{if xenos_value == name_value}}
					{{:helper.link(name_value, "close", {'ckey' : value.ckey, 'race' : name_value}, null)}}
				{{/if}}
			{{/for}}
			{{for value.GRANT :xenos_value:xenos_key}}
				{{if xenos_value == name_value}}
					{{:helper.link(name_value, "plus", {'ckey' : value.ckey, 'race' : name_value}, null, 'yellowButton')}}
				{{/if}}
			{{/for}}
			{{for value.REVOKE :xenos_value:xenos_key}}
				{{if xenos_value == name_value}}
					{{:helper.link(name_value, "cancel", {'ckey' : value.ckey, 'race' : name_value}, null, 'redButton')}}
				{{/if}}
			{{/for}}
		{{/for}}
	{{empty}}
		<tr>
			<center><h1><span class="average">Список пуст. Внесите новый ckey.</span></h1></center>
	{{/for}}
	</table>
{{else}}
	<center><h2><span class="bad">Интерфейс не получил никаких данных.<br>Перезагрузите окно.</span></h2></center>
{{/if}}
